{% extends "@LOTicket/layout.twig" %}
{% set title_page = 'Erreur interne' %}
    {% block body %}
        {% block header %}{{ parent() }}{% endblock %}
        {% block banner %}{{ parent() }}{% endblock %}

        <section class="upcoming-exibition-area section-gap">
            <div class="d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title">
                        <h1>Erreur interne</h1>
                        <div class="mt-50">
                                <div class="d-inline-flex p-2 align-items-center flex-wrap">
                                    <p>
                                        Service temporairement indisponible ou en maintenance.
                                        <a href="{{ path('homepage') }}">retourner à la page d'accueil</a>.
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% block javascripts %}{{ parent() }}{% endblock %}
    {% endblock %}