# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
   database_host: ftp.cluster021.hosting.ovh.net
    database_port: 3306
    database_name: jstadelmqesql
    database_user: jstadelmqesql
    database_password: Jcdvcsmfn92
    mailer_transport: mail
    mailer_auth_mode: login
    mailer_host: ssl0.ovh.net
    mailer_port: 587
    mailer_user: reservation@jstadelmann.fr
    mailer_password: Jcdvcsmfn92

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
