label {
    float: left;
    margin-top: 7px;
}
input, select  {
	display: block;
    float: right;
    width:100%;
}
ul li {
	text-decoration: none;
    list-style-type: none;
}
[for='commande_day'] {
	margin: 0 0 25px 0;
}
/* Class */
.form {
	width: 100%;
	max-width: 330px;
	padding: 25px 25px 0 25px;
	margin: auto;
}
/* Id */
#commande_booking, #commande_email_first, #commande_email_second, #commande_ticket_number {
    margin-bottom: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: lowercase;
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
