<!DOCTYPE html>

<head></head>
<body>

    <h1>Musée du Louvre</h1>

    <a href="{{ path('lo_commande_form') }}"><button>Commander des tickets</button></a>

    <script src="..\Jquery\jquery.min.js"></script>
</body>
</html>